<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

  <section id="top-banner" class="section bg-intro intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 page-title">
          <h2>User Profile</h2>
        </div>
      </div>
    </div>
  </section>

  <% for (var i = 0; i < users.length; i++) { 
    if(users[i].displayName == displayName) {

  %>
  <section id="user-profile" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="left-sidebar">
            <ul>
              <li><a href="/index">My Account </a></li>
              <li><a href="/edit/<%= users[i]._id %>">Edit my Account</a></li>
              <li><a href="/logout">Sign Out</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <h2>Profile Details</h2>

          

            <li class="list-group-item">
                <a href="/users/<%= users[i]._id %>" title="Edit User">
                    <%= users[i].username %>
                </a>
                <br />
                <%= users[i].password %>
                <br />
                <%= users[i].created.toDateString() %>
            </li>
        </div>
      </div>
    </div>
        <% } } %>
  </section>

<% include ../partials/footer.ejs %>