<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

  <section id="top-banner" class="section bg-intro intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 page-title">
          <h2>Survey : <span class="capitalize edit-title"><%= survey.surveyTitle %></span></h2>
        </div>
      </div>
    </div>
  </section>

  <section id="user-profile" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <form method="post" class="login-form">
            <h2><%= survey.surveyTitle %></h2>
            <hr class="medium"/>
            <fieldset class="form-group">
              <label for="surveyQuestion1"><%= survey.shortQuest1 %></label>
              <input type="text" name="shortAnswer1" class="form-control" />
            </fieldset>
            <fieldset class="form-group">
              <label for="surveyQuestion2"><%= survey.shortQuest2 %></label>
              <input type="text" name="shortAnswer2" class="form-control" />
            </fieldset>
            <fieldset class="form-group">
              <label for="surveyQuestion3"><%= survey.shortQuest3 %></label>
              <input type="text" name="shortAnswer3" class="form-control" />
            </fieldset>
            <fieldset class="form-group">
              <label for="surveyQuestion4"><%= survey.shortQuest4 %></label>
              <input type="text" name="shortAnswer4" class="form-control" />
            </fieldset>
            <fieldset class="form-group">
              <label for="surveyQuestion5"><%= survey.shortQuest5 %></label>
              <input type="text" name="shortAnswer5" class="form-control" />
            </fieldset>
            <fieldset class="form-group">
              <input type="hidden" name="surveyType" value="shortQuestion" class="form-control" />
              <input type="hidden" name="surveyTitle" value="<%= survey.surveyTitle %>" class="form-control" />
            </fieldset>
            <fieldset class="form-group text-right row">
              <div class="col-md-4">
                <input type="submit" class="btn btn-success" value="Submit" />
              </div>
              <div class="col-md-4">
                <a href="/browse-surveys">
                  <input type="button" class="btn" value="Cancel"/>
                </a>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <h2>Create your own survey!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, libero voluptates. Cumque consectetur vel voluptate suscipit pariatur!</p>
          <p>Voluptate officia ipsa officiis vero, est tempore quas possimus nulla mollitia id, blanditiis.</p>
          <a href="/register" class="btn btn-default btn-blue">Register Now</a>
        </div>

      </div>
    </div>
  </section>

<% include ../partials/footer.ejs %>