<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<section id="top-banner" class="section bg-intro intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-title">
        <h2>Welcome to your dashboard, <span class="capitalize"><%= displayName %></span></h2>
      </div>
    </div>
  </div>
</section>

<section class="section section" id="dashboard-listing">
  <div class="container">
    <div class="row">
      <div class="col-md-9">          
        <h2>Survey Listing</h2>
      </div>
      <div class="col-md-3">
        <a href="/survey/add" class="btn btn-default btn-blue">Add New Survey</a>
      </div>
    </div>
    <hr/>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Survey Title</th>
          <th>Date Created</th>
          <th>Date updated</th>
          <th>Edit</th>                
          <th>Delete</th>                                
        </tr>
      </thead>

      <tbody>
        <% for (var i = 0; i < survey.length; i++) {%>  
        <tr>
          <th><%=i%></th>
          <td><%= survey[i].surveyTitle %></td>
          <td><%= survey[i].created %></td>
          <td><%= survey[i].updated %></td>
          <td><a href="/survey/<%= survey[i]._id %>" class="btn btn-black">Edit</a></td>                                                                
          <td><a href="/survey/delete/<%= survey[i]._id %>" title="Delete" class="btn btn-del" onclick="return confirm('Are you sure you want to delete this?');">Delete</a></td>
        </tr>
        <% } %> 
      </tbody> 
    </table>

  </div>
</section>

<% include partials/footer.ejs %>