<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<section id="top-banner" class="section bg-intro intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-title">
        <h2>Survey Results</h2>
      </div>
    </div>
  </div>
</section>

<section id="user-profile" class="section">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="left-sidebar">
          <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/survey">My Surveys</a></li>
            <li><a href="/survey/add">Add Survey</a></li>
            <li><a href="/survey">Edit Survey</a></li>
            <li class="active"><a href="/results">Survey Result</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-5">Survey Title</th>
              <th class="col-md-2">Survey Type</th>
              <th class="col-md-2">Responses</th>
              <th class="col-md-2"></th>
            </tr>
          </thead>
          <tbody>
            <% var count = 0; for (var i = 0; i < answer.length; i++) { count ++; %> 
            <tr>
              <td class="col-md-1"><%= count %></td>
              <td class="col-md-5"><%= answer[i].surveyTitle %></td>
              <td class="col-md-2"><%= answer.length %></td>
              <td class="col-md-2">
              <%
                if (answer[i].surveyType == "shortQuestion") {
              %>
                Short Questions
              <%
                } else if (answer[i].surveyType == "multipleChoiceQuestion") {
              %>
                Multiple Choice
              <% } %>
              </td>
              <td class="col-md-2">
              <%
                if (answer[i].surveyType == "shortQuestion") {
              %>
                <a href="/results/<%= answer[i]._id %>" class="btn-dash"><i class="ion-document-text"></i> View</a>
              <%
                } else if (answer[i].surveyType == "multipleChoiceQuestion") {
              %>
                <a href="/results/<%= answer[i]._id %>" class="btn-dash"><i class="ion-document-text"></i> View</a>
              <% } %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>       
      </div>

    </div>
  </div>
</section>

<% include partials/footer.ejs %>