<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

  <section id="top-banner" class="section bg-intro intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 page-title">
          <h2>Edit your survey : <span class="capitalize edit-title"><%= survey.surveyTitle %></span></h2>
        </div>
      </div>
    </div>
  </section>

  <section id="user-profile" class="section">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="left-sidebar">
            <ul>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/survey">My Surveys</a></li>
              <li><a href="/survey/add">Add Survey</a></li>
              <li class="active"><a href="#">Edit Survey</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <form method="post" class="login-form">

            <fieldset class="form-group">
              <label for="surveyTitle">Survey Title</label>
              <input type="text" value="<%= survey.surveyTitle %>" class="form-control" />
            </fieldset>
            <fieldset class="form-group">
              <label for="quest">Enter your first question</label>
              <input type="text" value="<%= survey.shortQuest1 %>" class="form-control" />
            </fieldset>
            <div class="row">
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest1Opt1 %>" name="quest1Opt1" class="form-control" />
              </div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest1Opt2 %>" name="quest1Opt2" class="form-control" />                        
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest1Opt3 %>" name="quest1Opt3" class="form-control" />                       
              </div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest1Opt4 %>" name="quest1Opt4" class="form-control" />                        
              </div>
            </div>
            <hr/>
            <fieldset class="form-group">
              <label for="quest">Enter your second question</label>
              <input type="text" value="<%= survey.shortQuest2 %>" name="shortQuest2" class="form-control" />
            </fieldset>
            <div class="row">
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest2Opt1 %>" name="quest2Opt1" class="form-control" />
              </div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest2Opt2 %>" name="quest2Opt2" class="form-control" />                        
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest2Opt3 %>" name="quest2Opt3" class="form-control" />                       
              </div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest2Opt4 %>" name="quest2Opt4" class="form-control" />                        
              </div>
            </div>
            <hr/>
            <fieldset class="form-group">
              <label for="quest">Enter your third question</label>
              <input type="text" value="<%= survey.shortQuest3 %>" name="shortQuest3" class="form-control" />
            </fieldset>
            <div class="row">
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest3Opt1 %>" name="quest3Opt1" class="form-control" />
              </div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest3Opt2 %>" name="quest3Opt2" class="form-control" />                        
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest3Opt3 %>" name="quest3Opt3" class="form-control" />                       
              </div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest3Opt4 %>" name="quest3Opt4" class="form-control" />                        
              </div>
            </div>
            <hr/>
            <fieldset class="form-group">
              <label for="quest">Enter your forth question</label>
              <input type="text" value="<%= survey.shortQuest4 %>" name="shortQuest4" class="form-control" />
            </fieldset>
            <div class="row">
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest1Opt1 %>" name="quest1Opt1" class="form-control" />
              </div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest4Opt2 %>" name="quest4Opt2" class="form-control" />                        
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest4Opt3 %>" name="quest4Opt3" class="form-control" />                       
              </div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest4Opt4 %>" name="quest4Opt4" class="form-control" />                        
              </div>
            </div>
            <hr/>
            <fieldset class="form-group">
              <label for="quest">Enter your fifth question</label>
              <input type="text" value="<%= survey.shortQuest5 %>" name="shortQuest5" class="form-control" />
            </fieldset>
            <div class="row">
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest5Opt1 %>" name="quest5Opt1" class="form-control" />
              </div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest5Opt2 %>" name="quest5Opt2" class="form-control" />                        
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest5Opt3 %>" name="quest5Opt3" class="form-control" />                       
              </div>
              <div class="col-md-6">
                <label for="option">Enter Your Option</label>
                <input type="text" value="<%= survey.quest5Opt4 %>" name="quest5Opt4" class="form-control" />                        
              </div>
            </div>
            <hr/>
            <fieldset class="form-group row">
              <div class="col-md-6">
                <label for="quest">Active till : </label>
                <input type="date" name="activeTill" id="activeTill" class="pull-left">
              </div>
              <div class="col-md-6">
                <label for="quest">Status</label>
                  <div class="radio">
                    <label><input type="radio" name="isActive" checked>Active</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="isActive">Inactive</label>
                  </div>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <input type="hidden" name="displayName" value="<%= displayName %>" class="form-control" />
              <input type="hidden" name="surveyType" value="multipleChoiceQuestion" class="form-control" />
            </fieldset>
            <fieldset class="form-group text-right row">
              <div class="col-md-4">
                <input type="submit" class="btn btn-success" value="Update" /> 
              </div>
              <div class="col-md-4">
                <a href="/survey">
                  <input type="button" class="btn btn-de" value="Cancel"/>
                </a>                            
              </div>
              <div class="col-md-4">
                <a href="/survey/delete/<%= survey._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this?');">
                  <input type="button" class="btn btn-blue" value="Delete" />
                </a>
              </div>
            </fieldset>
          </form>

        </div>

      </div>
    </div>
  </section>

<% include ../partials/footer.ejs %>