<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

  <section id="top-banner" class="section bg-intro intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 page-title">
          <h2>Welcome to your dashboard, <%= displayName %></h2>
        </div>
      </div>
    </div>
  </section>

  <section class="section section" id="dashboard-listing">
    <div class="container">
      <div class="row">
        <div class="col-md-9">          
            <h2>Survey Listing</h2>
        </div>
        <div class="col-md-4">
            <a href="/survey/add" class="btn btn-default btn-blue">Add New Survey</a>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Survey Title</th>
                <th>Survey Content</th>
                <th>Date Created</th>
                <th>Date updated</th>
                <th>Edit</th>                
              </tr>
            </thead>

            <tbody>

               <% for (var i = 0; i < survey.length; i++) {
               if(survey[i].idName == displayName) {%>  
               
              <tr>
                <th scope="row"><%=i%></th>
                <td><%= survey[i].surveyTitle %></td>
                <td><%= survey[i].surveyContent %></td>
                <td><%= survey[i].created %></td>
                <td><%= survey[i].updated %></td>
                <td><a href="/survey/<%= survey[i]._id %>">Edit</a></td>                                
              </tr>
              <%}}%> 
            </tbody> 
            
          </table>
        </div>
      </div>
    </div>
  </section>

<% include ../partials/footer.ejs %>